.container *{
  font-family: 'Quicksand', sans-serif;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLayout{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainHeader{
  width: 100%;
  height: 110px;
  padding: 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e2e7f7;
  z-index: 1000;
}

.header{
  font-size: 28px;
  text-transform: uppercase;
  color: #14125F;
  display: flex;
  align-items: center;
}

.navbarContainer{
  width: 1200px;
  height: 110px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.5s ease;
}

.navbar:first-child::after{
  content: '<';
  transform: rotate(-90deg);
  padding-top: 15px;
  padding-right: 5px;
  font-weight: bold;
}

.navbar:hover{
  background-color: #848fbd;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.navbar:hover .navbarMenu{
  display: block;
  color: white;
}

.navbarMenu{
  display: none;
  max-height: 400px;
  min-width: 250px;
  position: absolute;
  top: 85%;
  left: -40px;
  border-radius: 20px;
}

.menu{
  display: flex;
  align-items: center;
  background-color: #e2e7f7;
  width: 250px;
  height: 40px;
  padding-left: 10px;
  list-style-type: none;
  font-weight: 400;
  color: black;
  transition: all 0.5s ease;
}

.menu:hover{
  background-color: #848fbd;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.link{
  cursor: pointer;
}

.containerImage{
  margin: auto;
  display: flex;
  width: 1200px;
  height: 536px;
  justify-content: space-between;
}

.wrapper{
  width: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer{
  width: 100%;
  height: 200px;
  background-color: #2f2d64;
}