.container *{
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 1400px;
    height: 100%;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.line{
    width: 1400px;
    height: 1px;
    background-color: rgb(133, 133, 133);
}

.listBrand{
    width: 1400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.brand{
    height: 30px;
    width: 250px;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
}

.brand:hover{
    font-weight: 600;
}